.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 0px;
    border-top: 1px solid #E5E5E5;
    background: black;
    color: white;
}

.navbar-text {
    margin-left: 15px;
}

.result-section {
    background: url("/assets/images/city.jpg")  no-repeat center top;
    margin-top: -20px;
    min-height: 500px;
}

.result-container {
    padding:50px;
}

.custom-search-form {
   padding: 300px 0px 300px 0px;
   margin-bottom: 10px;
}

.form-control {
    height: 50px;
    font-size: 20px;
}

.search-btn {
    height: 50px;
}

.places {
    background: rgb(51, 102, 204);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin: 0px;
    
    border-style: solid;
    border-width: 1px 2px 1px 2px;
    border-color: rgb(61, 112, 214);
    
}

.bus-link {
    color: white;
}

ul {
    list-style-type: none;
}

/*
li a {
    color: white;
    background: rgb(51, 102, 204);
    padding:5px;
    border-radius: 5px;
}
*/

li a:hover {
    text-decoration: none;
    color: grey;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.add-me {
    float: right;
    clear: both;
}

.pick-count {
    background-color:aqua;
    padding:5px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 14px;
}