<div ng-include="'components/navbar/navbar.html'"></div>

<div class ="result-section">
  <div class="container result-container">
    
    <div class="row">
  		<div class="col-lg-8 col-lg-offset-2">
  		  <form name="myForm">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Where are you?" ng-model="loc">
                <span class="input-group-btn">
                <button class="btn btn-default search-btn" type="submit" ng-click="search()">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
               </span>
              </div><!-- /input-group -->
            </form>
          </div>
  	</div>
  	
  
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2" >
        <ul class="places" ng-repeat="business in businesses">
          <li>
            <!-- <img ng-src="{{business.image_url}}" class="place-image"/> -->
            <!-- <img ng-src="{{business.rating_img_url_large}}" class="place-image"/> -->
            <a class="bus-link" href="{{business.url}}">{{business.name}}</a>
            <span class="pick-count" ng-show="picks[business.id].pickCount">{{ picks[business.id].pickCount + " Going"}}</span>
            <!-- <span>{{business.display_address[0]}}</span><span>{{business.display_phone}}</span> -->
            <button class="btn btn-default add-me" type="button" ng-click="togglePick(business.id)">
              {{ picks[business.id] ? ( picks[business.id].userIds.indexOf(user._id) !== -1 ? "Remove Me" : "Add Me") : "Add Me" }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>ON THE TOWN  |  a FreeCodeCamp project by <a href="http://www.freecodecamp.com/caseywoolley">Casey Woolley</a></p>
  </div>
</footer>

<!--<pre>picks = {{picks | json}}</pre> -->

<!-- <img ng-src="{{business.image_url}}" class="place-image"/> -->

