.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 0px;
    border-top: 1px solid #E5E5E5;
    background: #2E2E2E;
    color: #D1D1D1;
}

.navbar-text {
    margin-left: 15px;
}

.result-section {
    background: url("/assets/images/city.jpg")  no-repeat center top;
    margin-top: -20px;
    min-height: 500px;
}

.result-container {
    padding:50px;
}

.custom-search-form {
   padding: 300px 0px 300px 0px;
   margin-bottom: 10px;
}

.form-control {
    height: 50px;
    font-size: 20px;
}

.search-btn {
    height: 50px;
}

.places {
    background: #09B1F1;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin: 0px;
    
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #2CC4FE;
    
}

.places:hover {
    background: #2CC4FE;
}

.bus-link, .bus-link:hover, .bus-link:visited, .bus-link:active, .bus-link:link, .bus-link:focus {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.add-me {
    float: right;
    clear: both;
}

.pick-count {
    background-color: #7EDBFF;
    color: #09B1F1;
    padding:5px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 14px;
}